@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter-tight: "Inter Tight", sans-serif;
  --color-brand: #FF5131;
  --color-brand-hover: #e6452a;
  --color-brand-light: rgba(255, 81, 49, 0.1);
  --color-brand-dark: rgba(255, 81, 49, 0.15);
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply antialiased bg-white text-black;
    font-family: var(--font-inter-tight);
  }
}
